.quick-news {
    width: 95%;
    display: flex;
    gap: 30px;
     padding: 60px 60px 40px;
    background-color: #f5f6fa;
}


/* Both sections */
.newnews-container,
.news-container {
    flex: 1;
    background: white;
   padding: 40px 25px 25px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.newnews-container a,
.news-container a{
    text-decoration:none;
}
/* Heading */
.newnews-container h2,
.news-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
    border-bottom: 2px solid red;
    padding-bottom: 10px;

}


/* Cards */
.newnews-card{
    padding: 15px 0;
    border-bottom: 2px solid #ddd;
}

.news-card {
    padding: 15px 0;
    border-bottom: 2px solid #ddd;
}


.newnews-card:last-child,
.news-card:last-child {
    border-bottom: none;
}


.newnews-card h3,
.news-card h3 {
    font-size: 17px;
    color: #333;
    margin-bottom: 8px;
}


.newnews-card p,
.news-card p {
    font-size: 14px;
    color: #777;
}


/* Hover effect */
.newnews-card:hover,
.news-card:hover {
    transform: translateX(5px);
    transition: 0.3s ease;
}

.top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.top-section h2 {
    margin: 0;
}

.top-section a {
    text-decoration: none;
    color: #2563eb;
    font-size: 15px;
    font-weight: 500;
}

.top-section a:hover {
    text-decoration: underline;
}



/* Responsive for tablet/mobile */
@media (max-width: 768px) {

    .quick-news {
        flex-direction: column;
        padding: 20px;
    }

}